@model AgendaWebApp.ViewModel.CreateTodoItemViewModel

<h4>CreateTodoItemViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateNoGroup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" type="hidden">
                <input asp-for="Id" class="form-control" type="hidden" value= />
            </div>
            <div class="form-group form-check" type="hidden">
                <label class="form-check-label">
                    <input asp-for="Finished" class="form-control" type="hidden" value= />
                </label>
            </div>
            <div class="form-group" type="hidden">
                <input asp-for="CreationDate" class="form-control" type="hidden" value= />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Importance" class="control-label"></label>
                <input asp-for="Importance" class="form-control" />
                <span asp-validation-for="Importance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinishedDate" class="control-label"></label>
                <input asp-for="FinishedDate" class="form-control" />
                <span asp-validation-for="FinishedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupModelId" class="control-label"></label>
                @Html.DropDownList("Group Id", new SelectList((List<GroupModel>) ViewData["GroupList"]), "Id")
                <!--<select asp-for="GroupModelId" asp-items="f@Html.DropDownList("GroupList", null, "Please select a product")" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
                for="FinishedDate" class="form-control" /> f@Html.DropDownList("GroupList", null, "Please select a product")"-->
                <span asp-validation-for="GroupModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

