@using AgendaWebApp.Data.Enum;
@model AgendaWebApp.ViewModel.CreateTodoItemViewModel;

<h4>TodoItemModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" type="hidden">
                <input asp-for="Id" class="form-control" type="hidden" value= />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Importance" class="control-label"></label>
                <select asp-for="Importance" asp-items="@Html.GetEnumSelectList<ImportanceEnum>()" class="form-control">
                        <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Importance" class="text-danger"></span>
            </div>
            <div class="form-group" type="hidden">
                <input asp-for="GroupModelId" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="FinishedDate" class="control-label"></label>
                <input asp-for="FinishedDate" class="form-control" />
                <span asp-validation-for="FinishedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

