@model IEnumerable<TodoItemModel>

@foreach(var item in Model)
{
    <div class="card">
        <div class="card-header">
            @item.Importance
        </div>
        <div class="card-body">
            <h5 class="card-title">@item.Name</h5>
            <p class="card-text">@item.Description</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
}


